.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.container__header {
    align-self: flex-start;
    margin-bottom: 0;
}

.container__h2 {
    background-color: #fff;
    width: 100%;
    box-shadow: 1px 1px 3px 1px #ccc;
    padding: 20px;
    margin-bottom: 1px;
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .container__header {
        align-self: center;
    }
    .container__h2 {
        text-align: center;
    }
}