.container__form {
    display: flex;
    align-items: space-between;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px #ccc;
    width: 100%;
    padding: 20px;
}
.form__input {
    flex-basis: 70%;
    margin-right: 10px;
    border: 2px solid #eee;
    padding: 10px;
}
.form__button {
    background-color: teal;
    color: #fff;
    flex-basis: 30%;
    border: none;
    transition: 0.3s;
}
.form__button:hover {
    background-color: hsl(180, 100%, 30%);
}
@media (max-width: 767px) {
    .container__form {
        flex-wrap: wrap;
        width: 100%;
    }
    .form__input {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .form__button {
        flex-basis: 100%;
        padding: 10px;
    }
}