.buttons {
    flex-basis: 70%;
    display: flex;
    justify-content: flex-end;
}

.hideButton {
    background: transparent;
    color: teal;
    border: none;
    margin: 0 20px 0 0;
    transition: color 0.3s;
}

.hideButton:hover {
    color: hsl(180, 100%, 30%);
}

.allDone {
    background: white;
    color: teal;
    border: none;
    transition: color 0.3s;
}

.allDone:disabled {
    color: #ccc;
}

.allDone:hover {
    color: hsl(180, 100%, 30%);
}

@media (max-width: 767px) {
    .buttons {
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
    }
    .hideButton {
        flex-basis: 100%;
        margin: 0 0 10px 0;
    }
    .allDone {
        flex-basis: 100%;
        margin: 0 0 10px 0;
    }
}